<!-- views/search.ejs -->
<!doctype html>
<html>
    <head>
        <title>Product Tracker</title>
        
        <%- include partials/header.ejs %>
        
        <link href="css/search.css" type="text/css" rel="stylesheet">
        <script src="js/search.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="page-header text-center">
                <%- include partials/nav.ejs %>
            </div>
            <div class="well text-center">
                <form class="form-group" action="/search" method="post">
                    <div id="search-bar" class="form-row">
                        <input id="searchcontent" class="form-group form-control col-md-9" type="text" name="searchcontent" placeholder="Type your search here..." value="<%= search %>">
                        <input type="submit" class="submit-search-button form-group col-md-3 btn btn-warning btn-lg" value="Search">
                    </div>
                </form>
            </div>
            <div class="search-container">
                <% if(search == null || search == ''){ %>
                <p>As of now, Product Tracker only checks products from materiel.net and boulanger.com.</p>
                <% } else { %>

                <%- include partials/product-list.ejs %>

                <% } %>
            </div>
            <%- include partials/footer.ejs %>
        </div>
    </body>
</html>