<!-- views/watchlist.ejs -->
<!doctype html>
<html>
    <head>
        <title>Product Tracker</title>
        <%- include partials/header.ejs %>
        <link href="css/similarproducts.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="page-header text-center">
                <%- include partials/nav.ejs %>
            </div>
            <div >
                <div>
                    <div class="well">

                        <h3>Products similar to «<i><%=sourceprod.title%></i>»</h3>

                        <%- include partials/compared-product.ejs %>

                        <%- include partials/product-list.ejs %>

                        </div>
                    </div>
                </div>
                <%- include partials/footer.ejs %>
            </div>
        </body>
    </html>