<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Product Tracker</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="css/main.css" type="text/css" rel="stylesheet">
    <link href="css/productdetails.css" type="text/css" rel="stylesheet">
    
    <script src="/socket.io/socket.io.js"></script>

</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Product Tracker </h1>
        <%- include partials/nav.ejs %>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <div class="infobox_header">
                    <h4><%= product.title %></h4>
                        <div class="infobox_seller_name">Sold by <%= product.seller %></div>
                    </div>
                    <div class="infobox_wrapper">
                        <div class="infobox_image">
                            <img src="<%= product.iurl %>" alt="<%= product.ialt %>">
                        </div>
                        <div class="infobox_info">
                            <div class="infobox_text">
                                <div class="infobox_desc">
                                    <%= product.desc %>
                                </div>
                                <div class="infobox_price">
                                    Current price : <%= product.price %> €
                                </div>
                                <div class="infobox_current_threshold">
                                    Your current price threshold for this product is <%= threshold %> €.
                                </div>
                                <% if(notifications === 'enabled'){ %>
                                    <div class="infobox_notif_status">
                                        Notifications for this product are enabled.
                                    </div>
                                <% } else { %>
                                    <div class="infobox_notif_status">
                                        Notifications for this product are disabled.
                                    </div>
                                <% } %>
                            </div>

                            <form action="/editWatchedProduct?sid=<%= product.sid %>" method="post">

                                <p>You may edit settings related to this product here.</p>
                                <div class="error_msg"><%= msg %></div>
                                <label for="threshold">Set your price threshold : </label>
                                <input id="threshold" type="text" name="threshold" value="<%= threshold %>">

                                <% if(notifications === 'enabled'){ %>
                                    <label for="male">Notify me when the price is below the threshold</label>
                                    <input type="radio" name="notifications" id="notif_on" value="enabled" checked="checked"><br>
                                    <label for="female">Do not</label>
                                    <input type="radio" name="notifications" id="notif_off" value="disabled"><br>
                                <% } else { %>
                                    <label for="male">Notify me when the price is below the threshold</label>
                                    <input type="radio" name="notifications" id="notif_on" value="enabled"><br>
                                    <label for="female">Do not</label>
                                    <input type="radio" name="notifications" id="notif_off" value="disabled" checked="checked"><br>
                                <% } %>

                                <input type="submit" value="Save settings">
                            </form>

                        </div>
                    </div>
                    <div class="infobox_controls">
                        <div class="infobox_source">
                            <a href="<%= product.link %>" class="infobox_link">See more on the seller's website</a>
                        </div>
                        <div class="infobox_similar_button">
                            <a href="/similarProducts?sid=<%= product.sid %>" class="infobox_link">See similar products</a>
                        </div>
                        <div class="infobox_remove_button">
                            <a href="/removeWatchedProduct?sid=<%= product.sid %>" class="infobox_link">Remove from watchlist</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>