<!-- views/watchlist.ejs -->
<!doctype html>
<html>
    <head>
        <title>Product Tracker</title>
        <%- include partials/header.ejs %>
        <link href="css/watchlist.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="page-header text-center">
                <%- include partials/nav.ejs %>
            </div>
            <div>
                <div>
                    <div class="well">
                        <h3>My Watchlist</h3>
                        <ul class="row watchlist list-group">
                            <% if (results.length === 0){ %>
                            <p>Your watchlist is currently empty. <a href="/search">Browse the product list here and add some.</a></p>
                            <% } else { %>
                            <% for (product in results) {%>
                            <% product = results[product] %>
                            <li class="col-md-4 watched_product_container list-group-item" id="<%= product.sid %>">
                                <div class="infobox_header">
                                    <h4><i class="rotating fas fa-star"></i> <%= product.title %></h4>
                                    <div class="infobox_seller_name">Sold by <%= product.seller %></div>
                                </div>
                                <div class="infobox_wrapper">
                                    <div class="infobox_image">
                                        <img src="<%= product.iurl %>" alt="<%= product.ialt %>">
                                    </div>
                                    <hr>
                                    <div class="infobox_info">
                                        <div class="infobox_text">
                                            <div class="infobox_desc">
                                                <span class="bold">About : </span><%= product.desc %>
                                            </div>
                                            <div class="infobox_price">
                                                <span class="bold">Price : </span><%= product.price %> €
                                            </div>

                                            <% for (wprod in watched_products) {%>
                                                <% wprod = watched_products[wprod] %>
                                                    <% if (wprod.sid === product.sid){%>
                                                        <% var current_threshold = wprod.threshold%>
                                                        <div class="infobox_threshold">
                                                            <span class="bold">Your threshold : </span><%= wprod.threshold %> €
                                                        </div>
                                                        <%- include partials/threshold-reached.ejs %>
                                                    <% } %>
                                            <% } %>

                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="infobox_controls">
                                    <div class="infobox_source">
                                        <a href="<%= product.link %>" class="infobox_link">Visit website</a>
                                    </div>
                                    <div class="infobox_details_button">
                                        <a href="/watchedProduct?sid=<%= product.sid %>" class="infobox_link">Edit settings</a>
                                    </div>
                                    <div class="infobox_similar_button">
                                        <a href="/similarProducts?sid=<%= product.sid %>" class="infobox_link">See similar products</a>
                                    </div>
                                    <div class="infobox_remove_button">
                                        <a href="/removeWatchedProduct?sid=<%= product.sid %>" class="infobox_link">Remove from watchlist</a>
                                    </div>
                                </div>
                            </li>
                            <% } %>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
            <%- include partials/footer.ejs %>
        </div>
    </body>
</html>